KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
	$(ARCHDIR)/display.o \
	$(ARCHDIR)/cpu.o \
	$(ARCHDIR)/pic.o \
	$(ARCHDIR)/timer.o \
	$(ARCHDIR)/interrupt/i386_exception.o \
	$(ARCHDIR)/interrupt/i386_defaulthandler.o \
	$(ARCHDIR)/interrupt/i386_aligncheck.o \
	$(ARCHDIR)/interrupt/i386_badopcode.o \
	$(ARCHDIR)/interrupt/i386_bounderror.o \
	$(ARCHDIR)/interrupt/i386_breakpoint.o \
	$(ARCHDIR)/interrupt/i386_debugtrap.o \
	$(ARCHDIR)/interrupt/i386_deviceerror.o \
	$(ARCHDIR)/interrupt/i386_divbyzero.o \
	$(ARCHDIR)/interrupt/i386_doublefault.o \
	$(ARCHDIR)/interrupt/i386_fpuexception.o \
	$(ARCHDIR)/interrupt/i386_genprotectfault.o \
	$(ARCHDIR)/interrupt/i386_invalidtss.o \
	$(ARCHDIR)/interrupt/i386_machinecheck.o \
	$(ARCHDIR)/interrupt/i386_nmi.o \
	$(ARCHDIR)/interrupt/i386_overflow.o \
	$(ARCHDIR)/interrupt/i386_pagefault.o \
	$(ARCHDIR)/interrupt/i386_securityexception.o \
	$(ARCHDIR)/interrupt/i386_segnotpresent.o \
	$(ARCHDIR)/interrupt/i386_simdexception.o \
	$(ARCHDIR)/interrupt/i386_stacksegfault.o \
	$(ARCHDIR)/interrupt/i386_virtualizeexception.o \
	$(ARCHDIR)/interrupt/timer_irq.o